<tr>
  <td class="down_border feed_left_column">
    <img src="<%=  profile_act.user.profile_picture.url(:small) %>" width="50px"alt="profilepic"/>
  </td>
  <td class="down_border">
    <p><strong> <%= profile_act.user.full_name %></strong></p>
    <p class="feed_text"> <strong><%= profile_act.item.profile_activity %></strong> </p>
    <p> <a>like</a> &nbsp; <a href="javascript:void(0)" onclick="showCommentDiv('<%=profile_act.id%>')"> comment(<%=profile_act.comments.count%>)</a></p>
    <p>
      <%= render(:partial => "feed/comments", :locals=>{:status=>profile_act}).html_safe%>
    </p>
  </td>
</tr>