
<div id="sidebar">
  <ul class="sidebar">
    <li>
      <%= link_to "Basic Info", :basic_info%>
    </li>
    <li>
      <%= link_to "Activities/Interests", :activities_interests%>
    </li>
    <li>
      <%= link_to "Contact Info", :contact_info%>
    </li>
    <li>
      <%= link_to "Education Work", :education_work%>
    </li>
    <li>
      <%= link_to "Sports", :sports%>
    </li>
    <li>
      <%= link_to "Edit Profile Picture", :profile_pic%>
    </li>
  </ul>
</div>