<% content_for :sidebar do %>
	<%= render 'users/edit_profile_sections'%>
<% end %>

<% unless flash[:notice].blank? %>
<div class="notice">
  <%= flash[:notice].to_s %>
</div>
<% end %>
<div id="forms-login" >
        <h2>Activities and Interests</h2>
	<div >
		<%= form_for(@user) do |f| %>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
			<table>
				<tr><td colspan='2'></td></tr>
				<tr><th><label for="id_username">Activities</label></th>
					<td>
						<%= f.text_area :activities, :class => "text_required"%>
					</td>
				</tr>
				<tr><th><label for="id_password">Interests</label></th>
					<td>
						<%= f.text_area :interests, :class => "text_required"%>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><%= f.submit "Save"%>
					</td>
				</tr>

			</table>
		<% end %>
	</div>
</div>
