
<% content_for :sidebar do %>
	<%= render 'users/edit_profile_sections'%>
<% end %>

<div class='notice_blue' id="forms-login" style="width:350px;">
<div class='notice_head' id="right-pane-head">
<div style="float: left; vertical-align: bottom; padding-top: 9px; padding-right: 8px;">
</div>


<h2>Basic Informtion</h2>
</div>
<div class='notice_body'>
<%= form_for(@user) do |f| %>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<table>
<tr><td colspan='2'></td></tr>
<tr><th><label for="id_username">Basic Current City</label></th>
<td>
<%= f.text_field :basic_current_city, :class => "text required email", :style=>"width: 140px;" %>
</td>
</tr>
<tr><th><label for="id_password">Gender</label></th>
<td>
<%= f.text_field :basic_info_gender, :class => "text required", :style=>"width: 140px;" %>
</td>
</tr>
<tr><th><label for="id_password">Show Gender in profile</label></th>
<td>
<%= f.check_box :basic_info_show_gender_in_profile, :class => "text required", :style=>"width: 140px;" %>
</td>
</tr>
<tr><th><label for="id_password">Birthday</label></th>
<td>
<%= f.text_field :basic_info_birthday, :class => "text required", :style=>"width: 140px;" %>
</td>
</tr>
<tr><th><label for="id_password">Show Birthday in profile</label></th>
<td>
<%= f.check_box :basic_info_show_birthday_in_profile, :class => "text required", :style=>"width: 140px;" %>
</td>
</tr>
<tr><th><label for="id_password">Interested in</label></th>
<td>
<%= f.text_field :basic_info_interested_in, :class => "text required", :style=>"width: 140px;" %>
</td>
</tr>
<tr><th><label for="id_password">About Me</label></th>
<td>
<%= f.text_field :basic_info_about_me, :class => "text required", :style=>"width: 140px;" %>
</td>
</tr>
<tr><td></td><td><%= f.submit "Save", :class => "blue-button" %>
</td></tr>

</table>
<% end %>
</div>
</div>
</div>
