
<% content_for :sidebar do %>
	<%= render 'users/edit_profile_sections'%>
<% end %>
<% unless flash[:notice].blank? %>
<div class="notice">
  <%= flash[:notice].to_s %>
</div>
<% end %>
<div id="forms-login" >
  <h2>Basic Information</h2>
  <div >
    <%= form_for(@user) do |f| %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <table>
        <tr>
          <th><label for="id_username">First Name</label></th>
          <td>
            <%= f.text_field :first_name, :class => "text_required" %>
          </td>
        </tr>
        <tr>
          <th><label for="id_username">Last  Name</label></th>
          <td>
            <%= f.text_field :last_name, :class => "text_required" %>
          </td>
        </tr>
        <tr><td colspan='2'></td></tr>
        <tr><th><label for="id_username">Basic Current City</label></th>
          <td>
            <%= f.text_field :basic_current_city, :class => "text_required" %>
          </td>
        </tr>
        <tr><th><label for="id_password">Gender</label></th>
          <td>
            <%= f.select( :basic_info_gender, { "Male" => "Male", "Female" => "Female"}) %>
          </td>
        </tr>
        <tr><th><label for="id_password">Show Gender in profile</label></th>
          <td>
            <%= f.check_box :basic_info_show_gender_in_profile, :class => "text_required" %>
          </td>
        </tr>
        <tr><th><label for="id_password">Birthday</label></th>
          <td>
            <%= f.text_field :basic_info_birthday, :class => "text_required" %>
          </td>
        </tr>
        <tr><th><label for="id_password">Show Birthday in profile</label></th>
          <td>
            <%= f.check_box :basic_info_show_birthday_in_profile, :class => "text_required" %>
          </td>
        </tr>
        <tr><th><label for="id_password">Interested in</label></th>
          <td>
            <%= f.text_field :basic_info_interested_in, :class => "text_required" %>
          </td>
        </tr>
        <tr><th><label for="id_password">About Me</label></th>
          <td>
            <%= f.text_field :basic_info_about_me, :class => "text_required" %>
          </td>
        </tr>
        <tr><td></td><td><%= f.submit "Save" %>
          </td></tr>

      </table>
    <% end %>
  </div>
</div>
