<% content_for :sidebar do %>
	<%= render 'users/edit_profile_sections'%>
<% end %>

<% unless flash[:notice].blank? %>
<div class="notice">
  <%= flash[:notice].to_s %>
</div>
<% end %>
<div class='notice_blue' id="forms-login" style="width:350px;">
	<div class='notice_head' id="right-pane-head">

		<h2>Education And Work</h2></div>
	<div class='notice_body'>
		<%= form_for( @user) do |f| %>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
			<table>
				<tr><td colspan='2'></td></tr>
				<tr><th><label for="id_username">Employer</label></th>
					<td>
						<%= f.text_field :employer, :class => "text required email", :style=>"width: 140px;" %>
					</td>
				</tr>
				<tr><th><label for="id_password">College/University</label></th>
					<td>
						<%= f.text_field :college_university, :class => "text required", :style=>"width: 140px;" %>
					</td>
				</tr>
				<tr><th><label for="id_password">High School</label></th>
					<td>
						<%= f.text_field :high_school, :class => "text required", :style=>"width: 140px;" %>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><%= f.submit "Save", :class => "blue-button" %>
					</td>
				</tr>

			</table>
		<% end %>
	</div>
</div>
