<div class='notice_blue' id="forms-login" style="width:700px;">
	<div class='notice_head' id="right-pane-head">
		<div style="float: left; vertical-align: bottom; padding-top: 9px; padding-right: 8px;">
	Your Albums
	<a href="<%= new_user_album_path(current_user) %>" > Add An Album </a>
	<div class='notice_body'>
	<% @albums.each do |album| %>
	<div style="width:200px;float:left; margin:1px; ">
          <a href="<%=user_album_path(current_user,album) %>" ><%= image_tag album.cover_photo , :class=>'album_list'  %></a>
	<div><a href="<%=user_album_path(current_user,album) %>" ><strong><%= album.name%> (<%= album.location%>)</strong></a></div>
		
	</div>
	<% end %>
	</div>

	</div>
	</div>
</div>
