<!doctype html>
<!-- built using HTML5BoilerPlate -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta content="text/html"  charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title>The DainoBook - <%= yield :title %> </title>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=940px, initial-scale=1.0"/>

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="images/favicon.ico"/>
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />


  <!-- CSS: implied media="all" -->
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "960" %>
  <%= stylesheet_link_tag "text" %>
  <%= stylesheet_link_tag "base_2" %>
  
  <link media="screen" type="text/css" href="/photo-tag/libraries/jquery-ui-1.8.11.custom.css" rel="stylesheet">
   <link media="screen" type="text/css" href="/photo-tag/tests/photo_tags/styles2.css" rel="stylesheet">


  <style type="text/css">
	#intro div {
		margin-bottom: 5px;
	}
	#intro img {

	}
	#signin .credentials input {
		width: 140px;
	}
	#signin .options p {
		margin-top: 5px
	}
	#signupform input {
		width: 380px;
		height: 27px;
		margin-bottom: 8px;
		margin-left: 10px;
	}
  </style>

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <%= javascript_include_tag "libs/modernizr-1.7.min" %>
  <%= javascript_include_tag "libs/jquery-1.5.1.min.js" %>
  <%= javascript_include_tag "libs/jquery-1.5.1.min.js" %>
<script type="text/javascript" src="/photo-tag/libraries/jquery.ui.1.8.11.js"></script>  
   <script type="text/javascript" src="/photo-tag/js/jquery.phototag.js?ver=1"></script>  
</head>

<body>

  <div id="container" >
  <!-- Content -->
    <header>
		<div class="container_12">
 
				<div class="grid_4"> 
					<a href="/">
						<img src="/images/daino.png" width="52px" height="52px" alt="logo"/>
                		<img src="/images/dblogo.png" alt="Daino Logo"/>
					</a> 
				</div>
				<% if not current_user %>
                                <!--
				<div class="grid_8" id="signin" >
				
                                    <form action="/user_sessions/"  method="post">
						<fieldset class="credentials">
							<div align="left">
								<input id="username" type="text" autocomplete="on" placeholder="Username" name="user_session[email]" />
								<input id="password" type="password" autocomplete="on" placeholder="Password" name="session[password]" value="" />
								<button> Sign in </button>
							</div>
						</fieldset>
				    </form>
				</div>
                                -->
				<% else %>
				<div class="grid_8">
					<nav>
						<ul>    
                                                        <li> <%= link_to "Home", :root , :class => is_mainnav_active?(user_friends_path(current_user) ) %> </li>
							<li> <%= link_to "Profile", user_wall_path(current_user) , :class => is_mainnav_active?(user_friends_path(current_user) ) %> </li>
							<li> <%= link_to "Edit", :basic_info , :class => is_mainnav_active?(:edit_profile)%> </li>
                                                        <li> <%= link_to "Friends", user_friends_path(current_user) %> </li>
                                                        <li> <%= link_to "Search", '/search/people' %> </li>
                                                        <li> <%= link_to "Invite Friends", :invite_friends%> </li>
                                                        <li> <%= link_to "Photos", :user_photos%> </li>
                                                        <li> <%= link_to "Groups", groups_path %> </li>
                                                        <li> <%= link_to "Logout", :logout%> </li>
						</ul>
					</nav>
				</div>
				<% end %>
			<div class="clear"></div>
		</div>
    </header>

    <div id="main" role="main" class="mbody">
        <!-- Body Content -->
    	<div class="container_12">

    		<div class="grid_4" id="sidebar">
    			<%= yield :sidebar %>
    		</div>

    		<div class="grid_8" id="mainpane">
    			<%= yield %>
    		</div>
    		<div class="clear"></div>
    	</div>
  	<!-- End Body Content -->
    </div>
	<footer>
		<div class="container_12">
			<div class="grid_12" align="center">
				<a href='/tos/'>Terms of services</a> | <a href='/about-us/'>About Us</a> | <a href='/about-us/'>Contact us</a> | <small>Copyright (C) 2011 - All Copies Are Right </small>
			</div>
			<div class="clear"></div>
		</div>
    </footer>
  </div> <!-- eo #container -->

  <%#*<script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>%>
  

  <!-- scripts concatenated and minified via ant build script-->
  <%= javascript_include_tag "plugins" %>
  <%= javascript_include_tag "script" %>
  <%#*<script src="js/plugins.js"></script>%>
  <%#*<script src="js/script.js"></script>%>
  <!-- end scripts-->

  <!--[if lt IE 7 ]>
    <%#*<script src="js/libs/dd_belatedpng.js"></script>%>
    <%= javascript_include_tag "plugins" %>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->



  <script type="text/javascript">
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>
</body>
</html>
